<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nos engagements</h2>
                    <h3 class="section-subheading text-muted">Chez Granicare, nous sommes attachés à nos valeurs et nous faisont tout pour les respecter.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Un service humain</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nous proposons un service dont le but est avant tout de veiller au bien-être des personnes dépendantes. S'agissant principalement de personnes âgées avec un système immunitaire plus faible, il est nécessaire d'être vigilant.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Un client valorisé</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nous proposons à nos clients un service fiable mais nous restons à leur écoute en cas de besoin. Nous sommes ouverts à la proposition et la transparence fait partie de nos priorités (communication réalisée via notre site web).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Des salariés heureux</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Une politique de transparence et une démocratie participative ont étées mises en place. Chez Granicare, chaque avis compte ! Nous sommes convaincus que le bien-être de nos collaborateurs leur permet de donner le meilleur d'eux même.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Une planète respectée</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La Terre est précieuse et irremplaçable ! Nous nous engageons donc à réduire au maximum notre empreinte écologique en optimisant la gestion de notre matériel électrique et en proposant à nos collaborateurs une plateforme de covoiturage en interne.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Prenez part
                                    <br>à notre
                                    <br>histoire !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
