 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/pdf.png" class="img-responsive img-centered" width="500">
                            <p class="text-muted">{{ post.description }}</p>
                            <a href="livrables/{{ post.file }}" class="btn btn-default">Consulter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Offer modal -->
<div class="portfolio-modal service-modal modal fade" id="service-modal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body embed-responsive embed-responsive-16by9">
                  <video src="video/Granicare.mp4" type="video/mp4" controls class="embed-responsive-item">
                  </video>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
