<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le Service</h2>
                    <h3 class="section-subheading text-muted">Tu gères une personne dépendante et tu ne veux pas qu'il lui arrive malheur ? Relax ! Avec Granicare, élimine les intoxications alimentaires !</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Scan</h4>
                    <p class="text-muted">Scanne les dates de péremption des produits frais à l'aide de ton smartphone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-beer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Détends-toi</h4>
                    <p class="text-muted">Plus besoin de te soucier des périssables de ton grand-père !</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rappels</h4>
                    <p class="text-muted">Obtiens des rappels via l'application pour t'assurer que les produits sont consommés dans les temps.</p>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 125px;">
              <p class="text-muted">Besoin de gérer plus de deux frigos dans un contexte personnel ou professionnel ?</p>
              <a  href="#service-modal" class="btn btn-xl" data-toggle="modal" style="margin-top: 25px;">Voir l'offre en détail</a>
            </div>
        </div>

        <div class="portfolio-modal service-modal modal fade" id="service-modal" tabindex="1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <div class="service-modal-header">
                                  <img src="img/smartphone.png" width="200" style="margin-bottom: 0px"/>
                                  <div class="text">
                                    <h2>Granicare</h2>
                                    <p class="text-muted">Notre service est disponible en version lite et en version pro, voici les différences entre les 2 versions</p>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Granicare Pro</th>
                                      <th>Granicare Lite</th>
                                    </tr>
                                  </thead>
                                  <tbody class="text-muted">
                                    <tr>
                                      <td>Nombre max de frigos</td>
                                      <td>illimité*</td>
                                      <td>2</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 1</td>
                                      <td>sbla</td>
                                      <td>sbla</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 2</td>
                                      <td>inclu</td>
                                      <td>inclu</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 3</td>
                                      <td>inclu</td>
                                      <td>non inclu</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 4</td>
                                      <td>inclu</td>
                                      <td>non inclu</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 5</td>
                                      <td>inclu</td>
                                      <td>non inclu</td>
                                    </tr>
                                    <tr>
                                      <td>Feature 6</td>
                                      <td>inclu</td>
                                      <td>non inclu</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
